<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= status %> - <%= short_message %></title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <h1><%= status %> - <%= short_message %></h1>
    <div class="container">
        <h2><%= url %></h2>
        <p><%= full_message %></p>
        <a href="/" class="link home-link">Go Home</a>
    </div>
</body>
</html>
